name: Brew livecheck

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      formula: ${{ steps.livecheck-results.outputs.formula }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: Homebrew/actions/setup-homebrew@master

      - uses: dcarbone/install-jq-action@v1.0.1

      - id: livecheck-results
        run: |
          echo "formula=$(brew livecheck --tap ${{ github.repository }} --json --newer-only | jq -rc 'map(if .cask then (.type = "cask" | .name = .cask) else (.type = "formula" | .name = .formula) end)')"
          echo "formula=$(brew livecheck --tap ${{ github.repository }} --json --newer-only | jq -rc 'map(if .cask then (.type = "cask" | .name = .cask) else (.type = "formula" | .name = .formula) end)')" >> $GITHUB_OUTPUT
  create-issue:
    runs-on: ubuntu-latest
    needs: prepare
    if: ${{ needs.prepare.outputs.formula != '[]' }}
    strategy:
      matrix:
        formula: ${{ fromJSON(needs.prepare.outputs.formula) }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - run: |
          echo ${{ matrix.formula.type }}
          echo ${{ matrix.formula.name }}
          echo ${{ matrix.formula.version.current }}
          echo ${{ matrix.formula.version.latest }}

      - uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
          FORMULA_TYPE: ${{ matrix.formula.type }}
          FORMULA_NAME: ${{ matrix.formula.name }}
          FORMULA_VERSION_CURRENT: ${{ matrix.formula.version.current }}
          FORMULA_VERSION_LATEST: ${{ matrix.formula.version.latest }}
          TEST: "foo bar"
        with:
          filename: .github/formula_update_template.md
          update_existing: true
